# Configuración del Servidor
PORT=4000

# Configuración de la Base de Datos MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_contraseña
DB_NAME=req_danli

# Seguridad: Clave Secreta para firmar los Tokens JWT
# Cámbiala por una clave única y segura en tu archivo .env local
JWT_SECRET=clave_secreta_para_desarrollo